{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Gestão de Grupo, Organizador de Grupos">
    <meta name="description" content="Sistema Web dedicado a ajudar pessoas a se organizarem em grupos">
    <meta name="author" content="Grupo de Laboratório de Software">
    <title>Home | Group Manager</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'integrante' %}">Integrante</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'administrador' %}">Administrador</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>
