<h2>Todas as Tarefas</h2>
<table>
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Data de Entrega</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in grupo.tarefas %}
        <tr>
            <td>{{ tarefa.descricao }}</td>
            <td>{{ tarefa.data_entrega }}</td>
            <td><a href="?view=taskDetail&task_id={{ task.id }}">Ver Detalhes</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhuma tarefa encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

